.bar-custom {
position: fixed;
width: 100%;
height: auto;
z-index: 1;
border-bottom-right-radius: 1rem;
border-bottom-left-radius: 1rem;
}

h1 {
margin-top: 50px;
}
#Home {
margin-bottom: 100px;
}
.container {
width: 100%;
height: auto;
position: relative;
text-align: center;
}
.register-container {
position: relative;
width:100%;
height:100%;
}
.main-logo {
position: relative;
height: auto;
width: 100%;
margin: 0px;
}

.logo-pic {
height: 20%;
width: 20%;
margin-bottom: 50px;
}

h1 {
margin-bottom: 50px;
}
.about-pic {
height: 30%;
width: 30%;
margin-bottom: 50px;
}
h3 {
margin-bottom: 100px;
}
.column {
  float: left;
  width: 50%;
  padding: 0px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.fas {
font-size: 2rem;
}
#Services .fas:hover {
  color: #808080;
}
#Services h1 {
margin-bottom: 75px;
}
#Services h3 {
margin-bottom: 25px;
}
#Services h3.nutrition{
margin-bottom: 100px;
}

#Prices h1 {
margin-top: 75px;
margin-bottom: 75px
}
.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
#Fitness-Pack .logo-pic {
height: 20%;
width: 20%;
margin-bottom: 25px;
}
.offer {
margin: 5px;
}
#last.offer {
margin-bottom: 100px;
}


#testimonials {
  text-align: center;
  color: black;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.register-container h1 {
 text-align: center;
 position: relative;
 width: 30%;
 height: 10%;
 padding-left: 30%; 
}

.register-container button {
 margin-top: 30%;
 width: 20%;
 height: 7%;
}

#Social {
 background-color: #808080;
 height: auto;
}
#Social .container{
 padding-top: 0px;
}

@media only screen and (max-width: 768px) {
h1 {
font-size: 1.5rem;
}
.bar-custom {
height: auto;
}
.logo-pic {
height: 30%;
width: 30%;
}
.register-container h1 {
 text-align: center;
 position: relative;
 width: 30%;
 height: 10%;
 padding-left: 30%;
 margin-top: 0;
 margin-bottom: 70px;
}

#brand-custom {
font-size: 2rem;
}
#Home {
padding-top: 75px;
margin-bottom: 25px;
}
#Register .column {
  height: 250px;
}
#About h1 {
font-size: 2rem;
margin-bottom: 25px;
}
.about-pic {
margin-bottom: 25px;
}
#About h3 {
margin-bottom: 75px;
}
#Services h3 {
margin-bottom: 25px;
}
#Services h3.nutrition{
margin-bottom: 75px;
}
#Prices h1 {
margin-top: 50px;
margin-bottom: 50px
}
#Testimonials h2 {
font-size: 1rem;
text-align: center;
}
#Google .container img{
width: 275px;
height: 125px;
}
.register-container button {
margin-top: 35%;
width: 50%;
height: 10%;
padding: 0;
}
#mail-us-button {
margin-top: 0px;
}
#Social .container {
padding-bottom: 10px;
}
#Social h2 {
font-size: 1.25rem;
}
}
